{% extends 'doctor/base.html' %}
{% block title %}View Appointments{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn-25{
            color: black;
        }
        .btn-25:hover{
            color: brown;
        }
    </style>
</head>
<body>
    <br>
    <section class="page--section">
        <div class="container">
            <h3 class="page--header">{{ doctor }}, Here are your Appointments.</h3>
        </div>
    
        <div class="container table">
            <h4 class="table--titles">Approved Appointments</h4>
            <table class="t--style">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Created At</th>
                        <th>Appointment Status</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for appointment in approved_appointments %}
                    <tr>
                        <td class="td-normal">{{appointment.user.first_name}} {{appointment.user.last_name}}</td>
                        <td class="td-normal">{{appointment.created_at}}</td>
                        <td class="td-normal">{{appointment.status}}</td>
                        <td class="link-align"><a href="" class="btn--full">View</a></td>
                        <td class="link-align"><a href="" class="btn--confirm">Complete</a></td>
                        <td class="link-align"><a href="" class="btn--update">Update</a></td>
                        <td class="link-align"><a href="" class="btn--cancel">Cancel</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="container table">
            <h3 class="table--titles">Pending Appointments</h3>
            <table class="t--style">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Created At</th>
                        <th>Appointment Status</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for appointment in pending_appointments %}
                    <tr>
                        <td class="td-normal">{{appointment.user.first_name}} {{appointment.user.last_name}}</td>
                        <td class="td-normal">{{appointment.created_at}}</td>
                        <td class="td-normal">{{appointment.status}}</td>
                        <td class="link-align"><a href="" class=" btn-25 btn--full">View</a></td>
                        <td class="link-align"><a href="{% url 'approve' appointment.id %}" class=" btn-25 btn--confirm">Approve</a></td>
                        <td class="link-align"><a href="{% url 'reject' appointment.id %}" class="btn-25 btn--cancel">Reject</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    
</body>
</html>




{% endblock %}