<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <h1> Enter new Password</h1>
    <p>Please enter your new password twice so we can verify you typed it correctly
    </p>
    <form method = "post">
        {% csrf_token %}
        {{ form }}
        <input type="Submit" name="Update Password">

    </form>
</body>
</html>